$blue: #addeff;
$fillBlue: #5596F6;
$white: #fff;
$textGrey: #797979;
$strongTextGrey: #676767;
$borderGrey: #e0e0e0;
$gradientGrey: #e2e2e2;
$backgroundGrey: #F3F6FA;
$lightText: #b9b9b9;
$whiteAlpha: rgba($white, 0.7);
$greyAlpha: rgba($gradientGrey, 0.6);
$blueShadow: rgba($blue, 0.5);
$strongBlue: rgb(61, 150, 233);

:export {
  blue: $blue;
  strongBlue: $strongBlue;
  white: white;
}