$fillBlue: #5596F6;
$areaBlue: #EEF4FE;

$textGrey: #797979;
$strongTextGrey: #676767;
$borderGrey: #e0e0e0;
$gradientGrey: #e2e2e2;
$backgroundGrey: #F3F6FA;
$lightText: #b9b9b9;
$greyAlpha: rgba($gradientGrey, 0.6);

:export {
  fillBlue: $fillBlue;
  areaBlue: $areaBlue;
  white: white;
}