@import url("https://fonts.googleapis.com/css?family=Open+Sans:400;600");
@import "_colors.module.scss";
@import "~antd/dist/antd.css";

$borderRadius: 10px;
$hoverTransition: all 0.2s ease;


.block {
  display: block;
}
.inline-block {
  display: inline-block;
}

