$blue: #addeff;
$white: #fff;
$borderGrey: #e0e0e0;
$gradientGrey: #e2e2e2;
$backgroundGrey: #f3f6fa;
$lightText: #b9b9b9;
$whiteAlpha: rgba($white, 0.7);
$greyAlpha: rgba($gradientGrey, 0.6);
$blueShadow: rgba($blue, 0.5);

$strongBlue: rgb(61, 150, 233);

:export {
  blue: $blue;
  strongBlue: $strongBlue;
  white: white;
}