@import url(https://fonts.googleapis.com/css?family=Open+Sans:400;600);
@import "~bootstrap/scss/bootstrap";

:root {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

$white: #ffffff;
$borderGrey: #e0e0e0;
$gradientGrey: #e2e2e2;
$lightText: #b9b9b9;
$blue: #addeff;


$whiteAlpha: rgba($white, 0.7);
$greyAlpha: rgba($gradientGrey, 0.6);

$blueShadow: rgba($blue, 0.4);

$widgetHeight: 400px;
$pictoBackdropDiameter: $widgetHeight * 1.4;
$pictoFrameDiameter: $pictoBackdropDiameter * .6;
$pictoCloudBigDiameter: $pictoFrameDiameter * .65;
$pictoCloudSmallDiameter: $pictoCloudBigDiameter * .7;
$pictoCloudFillSize: $pictoCloudSmallDiameter * .7;
$iconCloudBigDiameter: 36px;
$iconCloudSmallDiameter: $iconCloudBigDiameter * .65;
$iconCloudFillSize: $iconCloudSmallDiameter * .7;

