@import url('https://fonts.googleapis.com/css?family=Open+Sans:400;600');
@import 'colors.module.scss';
@import '~antd/dist/antd.css';

:root {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

$widgetHeight: 400px;
