@import './constants';

.location-container {
  width: 100%;
}

.location-select-input {
  display: inline-block;
  width: 80%;
}

.location-select-input__option--is-selected {
  background-color: rgba(24, 143, 255, 0.25) !important;
  color: rgba(0, 0, 0, 0.7) !important;
}

.location-select-input__control {
  border: 0 !important;
  border-color: #40a9ff;
  border-radius: 10px !important;
  box-shadow: 0 0 7px 4px rgba(24, 143, 255, 0.1);
  font-size: 14px;
  padding: 3px 11px;
  touch-action: manipulation;
  transition: all 0.2s ease !important;
  width: 100%;
}

.location-select-input__control:focus-within {
  box-shadow: 0 0 2px 2px rgba(24, 143, 255, 0.514);
}

.location-select-input__control:hover {
  box-shadow: 0 0 2px 2px rgba(24, 143, 255, 0.404);
  width: 100%;
}

.location-select-input__menu {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin: 0;
  padding: 5px 12px;
  padding: 0;
  position: relative;
}

.location-select-input__option {
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  display: flex;
  line-height: 22px;
  min-height: 32px;
  transition: background 0.3s ease;
}

.location-select-input__option--is-focused {
  background-color: rgba(24, 143, 255, 0.1) !important;
}

.location-select-input__placeholder {
  border: 0;
  color: $lightText;
  font-weight: 400;
  width: 75%;
}
