.location-btn,
.ant-btn,
.ant-btn-circle,
.ant-btn-lg,
.-ant-btn-icon-only {
  border-width: 0;
  box-shadow: none;
  height: 40px !important;
  margin-left: 15px;
  padding: 0 !important;
  vertical-align: middle;
  width: 40px !important;

  svg {
    color: rgba(23, 135, 240, 0.65) !important;
  }
}
