@import './constants.module';

.location-select-input__control {
  border-color: $areaBlue;
  border-radius: $borderRadius;
  font-size: 1em;
  padding: 3px 5px;
  touch-action: manipulation;
  transition: $hoverTransition !important;
  width: 100%;
}

.location-select-input__control:focus-within {
  box-shadow: 0 0 4px 1px $areaBlue;
}

.location-select-input__control:hover {
  box-shadow: 0 0 4px 1px $areaBlue;
  width: 100%;
}

.location-select-input__menu {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-size: 1em;
  margin-top: -5px !important;
  padding: 0;
  position: relative;
}

.location-select-input__option {
  color: black;
  background-color: $areaBlue;
  display: flex;
  line-height: 22px;
  min-height: 32px;
  transition: $hoverTransition !important;
}

.location-select-input__option--is-focused {
  box-shadow: 0 0 4px 1px $areaBlue;
  cursor: pointer;
}

.location-select-input__placeholder {
  border: 0;
  color: $lightText;
  font-weight: 400;
  white-space: nowrap;
  width: 75%;
  cursor: text;
}

.location-btn,
.ant-btn,
.ant-btn-circle,
.ant-btn-lg,
.-ant-btn-icon-only {
  border-radius: 6px;
  border-width: 0;
  box-shadow: none;
  box-shadow: 0;
  float: right;
  height: 40px !important;
  margin-left: 15px;
  padding: 0 !important;
  position: absolute;
  vertical-align: middle;
  width: 5% !important;

  svg {
    color: $fillBlue !important;
  }
}
