@import './constants';

.weather-forecast-container {
  background: white;
  border-radius: 6px;
  box-shadow: 20px 20px 20px 0 $blueShadow;
  height: $widgetHeight;
  overflow: hidden;
  padding: 3vh 2vw;
  position: relative;
  width: 900px;
}
