.weather-card-big {
  justify-content: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.4fr 2.1fr 0.3fr 1.2fr;
  gap: 8px 9px;
  grid-template-areas:
    "DateTime DateTime"
    "Icon Temperature"
    "Weather Weather"
    "Humidity Windspeed";
  grid-area: 2 / 1 / 4 / 2;
}
.weather-card-big * {
  justify-self: center;
  align-self: center;
  padding-top: 5%;
}
.wi-main::before {
  font-size: 80px;
  justify-content: end;
}
.date-time-container {
  grid-area: DateTime;
  white-space: nowrap;
}
.wi-main {
  grid-area: Icon;
}
.temp-display {
  grid-area: Temperature;
  font-size: 30px;
  font-weight: bold;
  justify-content: start;
}
.current-weather-display {
  grid-area: Weather;
  font-size: 20px;
  font-weight: bold;
  align-self: start;
}
.humidity-container {
  grid-area: Humidity;
}
.windspeed-container {
  grid-area: Windspeed;
}
