@import './_constants.scss';

.weather-card-small {
    height: 100%;
    background-color: transparent;
    border: 0;
    border-radius: $borderRadius;
}

.weather-card-small > *{
    font-size: 0.95em;
    line-height: 30px;
    color: $textGrey;
    font-weight: normal;
}

.weather-card-small {
    .humidity-container {
        .humidity-text {
            font-weight: normal;
        }
        letter-spacing: 0.60px;
        font-weight: bold;
        line-height: 25px;
        padding: 5px 0px;
    }
}
.weather-card-small-day {
    font-weight: bold;
    font-size: small;
} 

.weather-card-small > i { 
    font-size: 30px;
    line-height: 35px;
}

.weather-card-small.selected > * {
    color: rgb(255, 255, 255) !important;
}

.weather-card-small.selected{
    background-color: $fillBlue;
}