@import "./_icons.scss";
@import "./_constants.scss";


.wi-main {
  font-size: 90px;
}
.temp-display {
  font-size: 50px;
  font-weight: bolder;
  font-family: 'Open Sans', sans-serif;
}

.wi-main, .temp-display {
    text-align: center;
}
.weather-card-big-current-text {
  font-weight: bold;
  font-size: x-large;
  line-height: 0px;
  margin-top: -20px;
}
.weather-card-big {
    .date-time-text,
    .humidity-text,
    .windspeed-text {
      color: $textGrey;
      font-size: 1em;
    }
}
.windspeed-value,
.humidity-percentage {
  font-weight: bold;
  font-size: 1.2em;
}
